<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<%- include('partials/head'); %>

<body>
    <%- include('partials/nav'); %>
    <div class="wrapper">

        <div class="container mt-5">
            <h1 class="display-4 text-center mb-4">Examiner Dashboard</h1>

            <form action="/examiner_dashboard" method="get" class="mb-3">
                <div class="col-2 col-md-2 mb-2">
                    <label for="testType" class="form-label small">Filter by Test Type:</label>
                    <select class="form-select form-select-sm" id="testType" name="testType">
                        <option value="All" <% if (testType === 'All') { %>selected<% } %>>All</option>
                        <option value="G2" <% if (testType === 'G2') { %>selected<% } %>>G2</option>
                        <option value="G" <% if (testType === 'G') { %>selected<% } %>>G</option>
                    </select>
                </div>
                <div class="col-6 col-md-2 mb-2">
                    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                </div>
            </form>

            <!-- Display the list of users -->
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Test Type</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Pass/Fail</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.testType %></td>
                        <td><%= user.comment %></td>
                        <td>
                            <% if (user.isPassed === true) { %>
                            <button type="button" class="btn btn-success btn-sm">Pass</button>
                            <% } else if (user.isPassed === false) { %>
                            <button type="button" class="btn btn-danger btn-sm">Fail</button>
                            <% } %>
                        </td>
                        <td><a href="/examiner_page?userId=<%= user._id %>" class="btn btn-info btn-sm">Details</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('partials/footer'); %>

</body>

</html>